YANG 1.1 - Augmented nodes cannot be referenced in a leafref

common.yang adds the node global-list with an augment statement.
c.yang cannot find the augmented node in its leafref statement.

[root@localhost test]# pyang --strict *.yang
c.yang:11: error: main:global-list in the path for x at c.yang:11 is not found

[root@localhost test]# pyang -ver
pyang 1.7

[augment-path-problem.zip](https://github.com/mbj4668/pyang/files/369049/augment-path-problem.zip)


Hi,

The problem is that c.yang cannot see any defintions in common.yang - add "include common;" to c.yang and it will work.  See also RFC 6020 section 5.1.