Questions about the "mandatory" and "when" priorities in "YANG --lint"

RFC 7950 section 8.1 mentioned：
o The "mandatory" constraint is enforced for leafs and choices, unless the node or any of its ancestors has a "when" condition or "if-feature" expression that evaluates to "false".

That's mean, if "when" condition is there, should validate the "when " condition firstly, if "when" condition evaluates as "false", the mandatory should not be validated.

But, when use “YANG --lint”  to validate the data which have mandatory leaf in the top container , it check "mandatory" always no matter whether "when" condition it there, please help to confirm whether it is a issue, thanks.

container example {

leaf a {
   type string;
}

leaf b {
  when "not(../a)";
  type string;
  mandatory true;
}

leaf c {
   type string;
}

}
