pyang 1.7.2 cannot successfully compile ietf-restconf.yang or ietf-yang-patch.yang

When running pyang 1.7.2 over these two models:

```
(pyang) ✔ /opt/git-repos/clean-yang-2/standard/ietf/RFC [master|✔]
20:30 $ pyang --version
pyang 1.7.2
(pyang) ✔ /opt/git-repos/clean-yang-2/standard/ietf/RFC [master|✔]
20:30 $ pyang --lint --verbose ietf-restconf.yang
ietf-restconf.yang:123: error: keyword "rc:yang-data" not in canonical order, (See RFC 6020, Section 12)
(pyang) ✘-1 /opt/git-repos/clean-yang-2/standard/ietf/RFC [master|✔]
20:30 $ pyang --lint --verbose ietf-yang-patch.yang
ietf-yang-patch.yang:72: error: keyword "rc:yang-data" not in canonical order, (See RFC 6020, Section 12)
(pyang) ✘-1 /opt/git-repos/clean-yang-2/standard/ietf/RFC [master|✔]
20:31 $
```

These models successfully compiled under 1.7.1 with ho problems:

```
(pyang) ✔ /opt/git-repos/clean-yang-2/standard/ietf/RFC [master|✔]
20:33 $ pyang --version
pyang 1.7.1
(pyang) ✔ /opt/git-repos/clean-yang-2/standard/ietf/RFC [master|✔]
20:33 $ pyang --lint --verbose ietf-restconf.yang
(pyang) ✔ /opt/git-repos/clean-yang-2/standard/ietf/RFC [master|✔]
20:33 $ pyang --lint --verbose ietf-yang-patch.yang
(pyang) ✔ /opt/git-repos/clean-yang-2/standard/ietf/RFC [master|✔]
20:33 $
```

This is quite a big change in behavior.

Note that `1.7.2` will compile the files if the second instance of the use of the extension `yang-data` is taken out of the file.

Is `1.7.1` incorrect or is `1.7.2`? If `1.7.2` is correct, then the recent IETF RFCs for RESTCONF and YANG Patch must be incorrect.

I will craete a 1.7.3 release tomorrow.