pyang --ietf throws error on YANG 1.1 if-feature statement

pyang branch yang-1.1 (synched today) throws this error:
```
#pyang --ietf -p ../ ietf-ssh-server.yang
ietf-netconf-server.yang:141: error: keyword "if-feature" not in canonical order, (See RFC 6020, Section 12)
```
here is line 141:
```
      if-feature "(ssh-listen or tls-listen)";
```

... so is the statements in ietf-netconf-server in canonical order?

I don't know what "canonical order" means.  I did check the ABNF grammar and it seemed okay...

BTW, the if-feature statement is above, does it look to be canonical order to you?

Kent Watsen <notifications@github.com> wrote:
> I don't know what "canonical order" means.

The error message says:

 error: keyword "if-feature" not in canonical order, (See RFC 6020,
 Section 12

RFC 6020, Section 12 says:

   In YANG, almost all statements are unordered.  The ABNF grammar
   [RFC5234] defines the canonical order.  To improve module
   readability, it is RECOMMENDED that clauses be entered in this order.


So you probably have some other statement before if-feature.


/martin




> So you probably have some other statement before if-feature.
Indeed, that was the case.  I should've searched for Section 12 harder.  
Thanks!

K.

