Warning "imported module not used" when using grouping 

Hi @fredgan 

I am using PYANG of version 2.5.3.
We get the following warnings from our yang modules when we use "--lint" option.
[PYANG] WARNING a.yang:6 imported module "atype" not used

It looks like the problem is that we get this warning when the leaf (that uses the import) is inside a grouping.

Reproduce the issue with below example.
**atype.yang**

```yang
module atype{
  prefix mt;
  namespace "urn:mt";

  typedef ttype{
    type uint8;
  }
}
```

**a.yang**

```yang
module a{
  prefix ma;
  namespace "urn:a";

  import atype{
    prefix ta;
  }

  grouping gg{
    leaf ga{
      description "leaf ga";
      type ta:ttype;
    }
  }

  container cc{
    uses gg;
  }
}
```

similar issue #718 


Please show me the command output: `pyang --version` and your python version as well.

and then, describe your WARNING operations.

 You can refer the versions, here in this screenshot.
![versions](https://github.com/mbj4668/pyang/assets/89186753/19f647ab-5e4b-4b14-9959-bb2308952d1c)

Warning Description:

1. I am importing the module atype.yang at line no :6 in a.yang module.
2. Here I am using that module inside a leaf(ga), which is present in grouping (gg) at line no: 12.
3. Even though, Iam using at line no:12, Iam seeing the warning (a.yang:6: warning: imported module "atype" not used).

Hi @fredgan 

Do you have time to look into this question?
Do you think, is it a problem from pyang? If it could be a problem, when are you planning to solve?

BR
Sravani Regalla

The option `--lint` checks that the statements are in canonical order (see section 14 in RFC 7950), and due to the implementation when it finds a statement that is not in canonical order it doesn't consume it and thus it may lead to other errors reported.  