SID choice and case sub-statements data identifiers question

Hi everyone,

I am currently working with YANG models and SID files and I've recently realized that `pyang` made tremendous improvements since 2.7.0 on this topic.

However, there is something I do not understand about the tests introduced, with 8540fb735dbf64763981cacf048278ef4a463e45.

When I read the  [RFC 6020 - 7.9. The choice statement](https://www.rfc-editor.org/rfc/rfc6020.html#page-75)  and [RFC 6020 - 7.9.2. The choice's case statement](https://www.rfc-editor.org/rfc/rfc6020.html#page-76), I understand that: _`choice` and `case` nodes do not exist in the data tree_.

Correct me if I'm wrong, but wouldn't this mean that identifiers for sub-statements of `choice` and `case` nodes would not contain `choice`'s and `case`'s argument values?

example:
```yang
container box {
   choice a_choice {
      case case_a {
         leaf a {
             type string;
         }
      case case_b {
         leaf b {
             type uint8;
         }
   }
}
```   
would actually produce XML data like:
```xml
<box>
   <a>Some text</a>
</box>

```
or:
```xml
<box>
   <b>0</b>
</box>

```
Therefore, I would expect 2 different data identifiers in a SID definition:

a. for the `a` case alternative: `/box/a`,
b. and for the `b` one: `/box/b`.

I reckon it would make the mapping from XML/JSON to SID directly achievable by a straight forward mapping technique.

A SID file may contain identifiers for `choice` and `case` but, for me, they would not be `data` nodes but `data structure` nodes for detection and riddance of malformed coexistence of exclusive alternatives.

Like this:
```xml
<box>
   <a>Some text</a>
   <b>0</b>
</box>
```
Did I miss something?

Let me finish by saying how much I appreciate the work you put in `pyang`. It's a great tool.

Thanks for that and many thanks in advance for your answer.

André Auzi

@aauzi In my understanding, it's correct that `switch` and `choice` never appear in the data tree, also not with SID numbers assigned. Per RFC 9595, the `switch` and `choice` do not even get a SID number assigned. So you example looks conceptually correct to me.

> A SID file may contain identifiers for choice and case but,

I don't think a correct .sid file can contain these; per RFC 9595 (Section 1). Of course someone could manually edit them in and it probably shouldn't break anything in that case if the .sid file is being used for some conversion purposes; but if there were a .sid file validator it should mark that .sid file as having errors.


The SID identifier is a schema-node-identifier.
It is not a data node identifier.


    leaf identifier {
        type union {
          type yang:yang-identifier;
          type schema-node-path;
        }
        description
          "String identifier of the YANG item for this mapping
           entry.

           If the corresponding 'namespace' field is 'module',
           'feature', or 'identity', then this field MUST
           contain a valid YANG identifier string.

           If the corresponding 'namespace' field is 'data',
           then this field MUST contain a valid schema-node
           path.";
      }


RFC 7950

      schema node: A node in the schema tree.  One of action, container,
      leaf, leaf-list, list, choice, case, rpc, input, output,
      notification, anydata, and anyxml.


After YANG corrected, output with pyang 2.7.1 is correct:

SID        Assigned to
---------  --------------------------------------------------
100        module example-box
101        data /example-box:box
102        data /example-box:box/a_choice
103        data /example-box:box/a_choice/case_a
104        data /example-box:box/a_choice/case_a/a
105        data /example-box:box/a_choice/case_b
106        data /example-box:box/a_choice/case_b/b


Thank you @abierman,
I've obviously missed this  description in "Figure 2: YANG Module 'ietf-sid-file'" of RFC 9595.
I guess it just means that mapping a data tree to a coreconf implementation cannot be as obvious as I was expecting.




The example in Appendix A has incorrect syntax

example /system/clock

    {
        "namespace": "data",
        "identifier": "/ietf-system:system/clock/timezone-name",
        "sid": "1739"
      }

According to the typedef the absolute-schema-nodeid from RFC 7950 is supposed to be followed.
This syntax includes choice and case nodes.

That does not mean choice and case schema nodes are assigned SIDs.
There is no agreement on that issue.

The sentence 'No predicates are allowed' is confusing because schema node identifiers
do not have predicates.  Only data nodes have instance identifiers (keys)


```
  typedef schema-node-path {
    type string {
      pattern
        '/[a-zA-Z_][a-zA-Z0-9\-_.]*:[a-zA-Z_][a-zA-Z0-9\-_.]*' +
        '(/[a-zA-Z_][a-zA-Z0-9\-_.]*(:[a-zA-Z_][a-zA-Z0-9\-_.]*)?)*';
    }
    description
      "A schema-node path is an absolute YANG schema-node
       identifier as defined by the YANG ABNF rule
       'absolute-schema-nodeid', except that module names are used
       instead of prefixes.

       This string additionally follows the following rules:

       -  The leftmost (top-level) data node name is always in the
          namespace-qualified form.
       -  Any subsequent schema-node name is in the
          namespace-qualified form if the node is defined in a
          module other than its parent node.  Otherwise, the
          simple form is used.  No predicates are allowed.";
    reference
      "RFC 5234 (STD 68): Augmented BNF for Syntax Specifications:
                          ABNF
       RFC 7950: The YANG 1.1 Data Modeling Language,
                 Section 6.5: Schema Node Identifier";
  }
```


Hum... I've also checked RFC 9254 section [4.4. ](https://www.rfc-editor.org/rfc/rfc9254#section-4.4)[The 'list' and the 'list' Entries](https://www.rfc-editor.org/rfc/rfc9254#name-the-list-and-the-list-entri) that contains `choice` and `case` examples.

The following section provides CBOR encoding details with SID values, ranging from 1756 to 1763, where I don't think the `choice` and `case` nodes are affected a SID.



RFC 9254 does not show any absolute path strings at all.
You cannot tell the list of SID assignments from the examples.
They do not show choice and case nodes since they are not data nodes.

IMO RFC 9595 needs to be updated if some new form of identifier is used.
Data nodes do not include rpc, notification, input, output, and action,
so existing data node syntax is not correct.

I hear you.
From a practical point of view, the current definition seems odd to me. 

@EskoDijk wrote:
> Per RFC 9595, the switch and choice do not even get a SID number assigned. So you example looks conceptually correct to me.
>
>    A SID file may contain identifiers for choice and case but,
>
> I don't think a correct .sid file can contain these; per RFC 9595 (Section 1). Of course someone could manually edit them in and it probably shouldn't break anything in that case if the .sid file is being used for some conversion purposes; but if there were a .sid file validator it should mark that .sid file as having errors.

Not correct.

[RFC 9595, YANG Schema Item iDentifier (YANG SID), section with YANG module](https://www.rfc-editor.org/rfc/rfc9595.html#name-yang-module-ietf-sid-file), description for the "ietf-sid-file:sid-file/item" node:
> ```YANG
> 
>    list item {
>      key "namespace identifier";
>      unique "sid";
>
>      description
>        "Each entry within this list defines the mapping between
>         a YANG item string identifier and a YANG SID.  This list
>         MUST include a mapping entry for each YANG item defined
>         by the YANG module identified by 'module-name' and
>         'module-revision'.";

RFC 9595, definition of (YANG Schema) item:

> item:
    A schema node, an identity, a module, or a feature defined using the YANG modeling language.

As @abierman already wrote, definition of schema node (from RFC 7950):
>   schema node: A node in the schema tree.  One of action, container,
  leaf, leaf-list, list, choice, case, rpc, input, output,
  notification, anydata, and anyxml.

Therefore even all the `switch` and `case` schema nodes MUST have the SIDs assigned. This also (implicitly) explain why are the gaps between assigned SIDs so large in the examples of the RFC 9254.
@abierman: Based on this the `rpc`, `action` and `notification` schema nodes are included.


Hi @aauzi 

> I've obviously missed this description in "Figure 2: YANG Module 'ietf-sid-file'" of RFC 9595.
I guess it just means that mapping a data tree to a coreconf implementation cannot be as obvious as I was expecting.

The SIDs were designed so that you need to have access to the YANG module (have basic understanding of the tree hierarchy + associated semantics).

> From a practical point of view, the current definition seems odd to me.
Might be. I did not write those. I have myself some things that I do not like about the YANG but I did not participate in the times of the documents creation.

Hope that all this (ours answers) helps you.

@vvilimek Yes, thank you for pointing this out - we had some discussion already on the yang-tooling list regarding RFC 9595 spec text. See [link](https://mailarchive.ietf.org/arch/browse/yang-tooling/) for the mails.

> Therefore even all the switch and case schema nodes MUST have the SIDs assigned.

I don't think anyone noticed this yet in the discussions - good pointer. The examples in Appendix A of RFC 9595 do not comply to this it seems. And the core-wg/pyang fork also doesn't do this.
This requirement also seemingly contradicts the list in RFC 9595 "The following items are identified using SIDs:" because the choice / case nodes are not part of that list.  And if other items than on this list are permitted, it would be strange to list only some items. So there's some internal inconsistency in RFC 9595 that we need to bring back to the CoRE WG.

> The SIDs were designed so that you need to have access to the YANG module (have basic understanding of the tree hierarchy + associated semantics).

Exactly - there was some confusion here because SIDs are also meant to be used mainly as simple "long text key string" replacements for YANG-CBOR. But the text being replaced is not directly defined in the .sid file: you need the YANG module also to infer how a given string instance-identifier can be substituted by a numeric SID value.


@EskoDijk 
Thanks for the mailing list link. I will check it.

> I don't think anyone noticed this yet in the discussions - good pointer. The examples in Appendix A of RFC 9595 do not comply to this it seems. And the core-wg/pyang fork also doesn't do this.

Yes, I tried to create an erratum for that.

> This requirement also seemingly contradicts the list in RFC 9595 "The following items are identified using SIDs:" because the choice / case nodes are not part of that list. And if other items than on this list are permitted, it would be strange to list only some items. So there's some internal inconsistency in RFC 9595 that we need to bring back to the CoRE WG.

Oh, I did not pay that much attention to this part specifically. I seems to me that the author did not distinguish the schema tree and data tree well (based on the non-consistent definitions resp. definition and enumeration in the "The following itmes are identified using SIDs:" list). We might fix these problems in a 'update' RFC.

Hi,

This should be posted to yang-tooling

Andy


On Wed, Feb 4, 2026 at 3:35 AM vvilimek ***@***.***> wrote:

> *vvilimek* left a comment (mbj4668/pyang#944)
> <https://github.com/mbj4668/pyang/issues/944#issuecomment-3846919066>
>
> @EskoDijk <https://github.com/EskoDijk> wrote:
>
> Per RFC 9595, the switch and choice do not even get a SID number assigned.
> So you example looks conceptually correct to me.
>
> A SID file may contain identifiers for choice and case but,
>
> I don't think a correct .sid file can contain these; per RFC 9595 (Section
> 1). Of course someone could manually edit them in and it probably shouldn't
> break anything in that case if the .sid file is being used for some
> conversion purposes; but if there were a .sid file validator it should mark
> that .sid file as having errors.
>
> Not correct.
>
> RFC 9595, YANG Schema Item iDentifier (YANG SID), section with YANG module
> <https://www.rfc-editor.org/rfc/rfc9595.html#name-yang-module-ietf-sid-file>,
> description for the "ietf-sid-file:sid-file/item" node:
>
>    list item {
>      key "namespace identifier";
>      unique "sid";
>
>      description
>        "Each entry within this list defines the mapping between        a YANG item string identifier and a YANG SID.  This list        MUST include a mapping entry for each YANG item defined        by the YANG module identified by 'module-name' and        'module-revision'.";
>
> RFC 9595, definition of (YANG Schema) item:
>
> item:
> A schema node, an identity, a module, or a feature defined using the YANG
> modeling language.
>
> As @abierman <https://github.com/abierman> already wrote, definition of
> schema node (from RFC 7950):
>
> schema node: A node in the schema tree. One of action, container,
> leaf, leaf-list, list, choice, case, rpc, input, output,
> notification, anydata, and anyxml.
>
> Therefore even all the switch and case schema nodes MUST have the SIDs
> assigned. This also (implicitly) explain why are the gaps between assigned
> SIDs so large in the examples of the RFC 9254.
> This also @abierman <https://github.com/abierman> based on this the rpc,
> action and notification are included.
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/mbj4668/pyang/issues/944#issuecomment-3846919066>, or
> unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AAN2BDYVKO25AWLDNSNYQ4L4KHKORAVCNFSM6AAAAACSY3DV72VHI2DSMVQWIX3LMV43OSLTON2WKQ3PNVWWK3TUHMZTQNBWHEYTSMBWGY>
> .
> You are receiving this because you were mentioned.Message ID:
> ***@***.***>
>


I posted the item list snippet on yang-tooling.
I was wrong about the lack of text that says a SID file MUST contain every possible SID.

RFC 9595 has examples and some text about data nodes instead of schema nodes
that do not follow this MUST.

So should the examples change to match the MUST?


Hi @abierman, @vvilimek, @EskoDijk,

I thank you all very much for the explanations and the share of knowledge.
It's clear that my initial assumption was wrong.
And i'm happy if this short exchange ends up with something useful for the community.
Regards,
André Auzi
