pyang not flagging error for notification as top node under a 'case' statement

RFC 7950, section 7.16 states the following:

    Since a notification cannot be defined in a "case" statement, it is
    an error if a grouping that contains a notification at the top of its
    node hierarchy is used in a case definition.

The latest draft of ietf-netconf-keystore, https://tools.ietf.org/html/draft-ietf-netconf-keystore-05 contains a grouping, ```end-entity-cert-grouping``` which defines a notification at the top of the hierarchy inside the grouping:

    grouping end-entity-cert-grouping {
      description
       "A certificate, and a notification for when it might expire.";
      leaf cert {
        type ct:end-entity-cert-cms;
        mandatory true;
        description
         "The binary certificate data for this certificate.";
        reference
          "RFC YYYY: Common YANG Data Types for Cryptography";
      }
      notification certificate-expiration {
        description
          "A notification indicating that the configured certificate
           is either about to expire or has already expired.  When to
           send notifications is an implementation specific decision,
           but it is RECOMMENDED that a notification be sent once a
           month for 3 months, then once a week for four weeks, and
           then once a day thereafter until the issue is resolved.";
        leaf expiration-date {
          type yang:date-and-time;
          //mandatory true;
          description
            "Identifies the expiration date on the certificate.";
        }
      }
    }

This grouping is then used directly under a 'case' statement which should not be allowed.

    choice local-or-keystore {
      mandatory true;
      case local {
        uses ks:asymmetric-key-pair-grouping;
        uses ks:end-entity-cert-grouping;
      }

However, pyang does not return an error for this.


Hi, I tested this case:

```yang
module q {
  yang-version 1.1;
  namespace urn:new;
  prefix ks;

  grouping endgg {
    notification certificate-expiration {
      leaf expiration-date {
        type string;
      }
    }
  }
  container cc {
    choice choi {
      case local {
          uses ks:endgg;
      }
    }
  }
}
```

I find that `pyang` will report an error for this module now.
```
error: unexpected keyword "notification" under "case", defined at data/q.yang:7
```

So this issue should have been fixed. @mbj4668 