Inconsistent behaviour with RFC 8040: RESTCONF Protocol (yang-data extension)

The following yang module when checked by the `pyang` tools yields unexpected results:

```yang
module example {
  yang-version "1.1";
  namespace "http://example.com";
  prefix "e";

  import ietf-restconf {
    prefix "rc";
    revision-date "2017-01-26";
  }

  container toplevel {
    // the whole rc:yang-data statement should be ignored
    rc:yang-data sublevel { // line 13
      container proto-msg {
        leaf data { type empty; }
      }
    }
  }

  rc:yang-data correct {
    container main {
      leaf key {
        // the "config" statements inside rc:yang-data are ignored
        config false; // line 24
        type string;
      }

      leaf value {
        // also ignored "config" statement
        config true; // line 30
        type int32;
      }
    }
  }

  feature optional-feature;

  rc:yang-data quiet-data {
    container quiet {
      // no message at all, expect to print warning as it should be ignored
      if-feature optional-feature; // line 41
    }
  }
}
```

output:
```bash
# $ pyang example.yang
example.yang:13: error: unexpected keyword "rc:yang-data"
example.yang:24: warning: explicit config statement is ignored
example.yang:30: warning: explicit config statement is ignored
```

The `ietf-restconf` YANG module (from RFC 8040 section 8) defining the extension `yang-data` states that:
```yang
module ietf-restconf {
  extension yang-data {
    description 
      "...

       This extension is ignored unless it appears as a top-level statement.
       ...

       The following data-def-stmt substatements are constrained
       when used within a 'yang-data' extension statement.

       ...

         - The if-feature-stmt is ignored if present.
         - The config-stmt is ignored if present.
       ...
      ";
  }
}
```

What is the rationale for having the not top-level `yang-data` statement produce a hard error?

Also the `if-feature` statement (on line 41) does _not_ produce any output at all. Even though I would expect it to print similar message to the message printed for `config` statement.

I think a hard error is fine.  I don't really see the use case of having a non-top-level rc:data.  (Besides, the newer statement 'sx:structure' should be used instead)