YANG 1.1 modifier keyword for pattern statement unknown to pyang

pyang 1.7.3 does not appear to support the "modifier" keyword of the pattern statement as documented in YANG 1.1 RFC 7950 section 9.4.6 (https://tools.ietf.org/html/rfc7950#section-9.4.6).

```
$ pyang --version
pyang 1.7.3

$ pyang -f yang --yang-canonical --lint ...etc..
<...filepath...>.yang:83: error: unexpected keyword "modifier"

# Example YANG code
    79        leaf leaf-name {
    80          type string {
    81            length "1..17";
    82            pattern "(all|none)" {
    83              modifier "invert-match";
    84            }
    85            pattern "[a-zA-Z~@%-_+:|\\[\\]]{1,17}";
    86          }
    87        }
```

Is this a known limitation?


It's supported.  Make sure your module has yang-version 1.1;

That was it.  Thank you!