Output of --tree-print-groupings: should there be a colon after grouping name?

According to [Section 2 of RFC 8340,](https://www.rfc-editor.org/rfc/rfc8340.html#section-2) there should be a colon after a grouping name.  However, the output of pyang does not place colons after grouping names when generating a tree.  This issue was noticed during AUTH48 for [draft-ietf-opsawg-vpn-common](https://datatracker.ietf.org/doc/draft-ietf-opsawg-vpn-common/). The authors generated the first four figures in the draft with "pyang -f tree --tree-print-groupings".  Should pyang add a colon to a grouping name?

Yes it should.  Thanks for the report!