is_mandatory_node doesn't include mandatory "choice" or "anyxml"

Per RFC 6020, section 3.1:

> A mandatory node is one of:
> 
>    o  A leaf, choice, or anyxml node with a "mandatory" statement with
>      the value "true".
> (...)

But:

```python
def is_mandatory_node(stmt):
    if hasattr(stmt, 'i_config') and stmt.i_config == False:
        return False
    if stmt.keyword == 'leaf':         # <------------<<<
        m = stmt.search_one('mandatory')
        if m is not None and m.arg == 'true':
            return True
    elif stmt.keyword in ('list', 'leaf-list'):
...
```

The indicated line should be `if stmt.keyword in ('leaf', 'choice', 'anyxml')`.

Per RFC7950 we should also include 'anydata' in this category.