ignoring incorrect value of enum's value substatement

According to RFC 7950, sec. 14 (YANG grammar), value of the enum's substatatement `value` is `integer-value` and it's rule forbids leading zero. But pyang ignores it in validation as well as when converting to other formats (yin):

```
$ pyang --version
pyang 1.7.1
$ cat a.yang 
module a {
  namespace urn:yang:a;
  prefix a;

  leaf l {
    type enumeration {
      enum one {
        value 01;
      }
    }
  }
}
$ pyang a.yang 
$ pyang a.yang -f yin
<?xml version="1.0" encoding="UTF-8"?>
<module name="a"
        xmlns="urn:ietf:params:xml:ns:yang:yin:1"
        xmlns:a="urn:yang:a">
  <namespace uri="urn:yang:a"/>
  <prefix value="a"/>
  <leaf name="l">
    <type name="enumeration">
      <enum name="one">
        <value value="01"/>
      </enum>
    </type>
  </leaf>
</module>
```