ietf-modules/ietf-inet-types.yang:361: error: keyword "length" not in canonical order (see RFC 6020, Section 12)

$ pyang --canonical ietf-inet-types@2013-07-15.yang
ietf-inet-types@2013-07-15.yang:361: error: keyword "length" not in canonical order (see RFC 6020, Section 12)

Swapping the "length" and "pattern" statements resolves the error, but RFC 6020 says "these stmts can appear in any order":
```
   string-restrictions = ;; these stmts can appear in any order
                         [length-stmt stmtsep]
                         *(pattern-stmt stmtsep)
```                                                

As does RFC 7950:
```
   string-restrictions = ;; these stmts can appear in any order
                         [length-stmt]
                         *pattern-stmt
```


By passing --canonical to pyang, you ask pyang to validate that the statements are given in the canonical order.  Section 14 in RFC 7950 says:

    In YANG, almost all statements are unordered.  The ABNF grammar
    [RFC5234] [RFC7405] defines the canonical order.  To improve module
    readability, it is RECOMMENDED that clauses be entered in this order.

