Any tab char in a succeeding line that must be examined for stripping should be converted into 8 space characters

@mbj4668 
Hi, Martin
I find an issue in YANG read quoted string for TAB char for convert.

As is described in [RFC7950 section 6.1.3](https://tools.ietf.org/html/rfc7950#section-6.1.3) 

> If a double-quoted string contains a line break followed by space or
   tab characters that are used to indent the text according to the
   layout in the YANG file, this leading whitespace is stripped from the
   string, up to and including the column of the starting double quote
   character, or to the first non-whitespace character, whichever occurs
   first.  Any tab character in a succeeding line that must be examined
   for stripping is first converted into 8 space characters.

But I find that pyang didn't do this convert( One tab character into 8 space characters ).

I have made a PR( #544 ) for this issue.

And I add some testcases for this.

Please review this, Thanks.





Hi, Martin,
I find a very old issue the same as this #213 
If the PR is reviewed OK, the two issues can be closed.