Incorrect error on augmenting notification with mandatory node

When validating the YANG model [netopeer-notifications@2025-01-15.yang](https://github.com/CESNET/netopeer2/blob/devel/modules/netopeer-notifications%402025-01-15.yang) from the [netopeer2 project](https://github.com/CESNET/netopeer2/) using `pyang` version 2.6.1, the following error is reported:

```
$ pyang -p . netopeer-notifications@2025-01-15.yang
netopeer-notifications@2025-01-15.yang:186 (at netopeer-notifications@2025-01-15.yang:45): error: cannot augment with mandatory node "session-type"
```

The model augments the `netconf-session-start` notification from `ietf-netconf-notifications@2012-02-06.yang` module.

However, the same model passes validation using yanglint ([libyang](https://github.com/CESNET/libyang)) without any errors.

It seems that `pyang` incorrectly applies the rule from [RFC 7950, section 7.17](https://www.rfc-editor.org/rfc/rfc7950.html#section-7.17):


> If the augmentation adds mandatory nodes (see Section 3) that
> represent configuration to a target node in another module, the
> augmentation MUST be made conditional with a "when" statement.  Care
> must be taken when defining the "when" expression so that clients
> that do not know about the augmenting module do not break. 

This rule applies only to augmentation of configuration data, not notifications. However, in this model, the target of the augmentation is a notification, not configuration. If I add a when statement to the augmentation (as suggested by RFC), the validation passes, but I believe that requiring a when statement in this context is incorrect.

@mbj4668 Thanks for fixing! When will be available following official release on pypi.org? 