Strange use of single and double quotes in YANG output

The YANG shown at the bottom generates the output shown below for the `address1` and `address2` leaf nodes.

It looks to me as though the `select_quote()` function is calling `need_quote()` to determine whether to use single quotes rather than the preferred double quotes. But I don't think this is the right criterion: spaces in the string are causing it to use single quotes for `address1`'s first line (the only difference between `address1` and `address2` is the spaces surrounding the equals sign).

```
    leaf address1 {
      description
        "YANG input uses single quotes. YANG output retains single quotes
         for line 1 and uses double quotes for line 2.";
      type leafref {
        path '../../interface[name = current()/../ifname]'
           + "/address/ip";
      }
    }
```
```
    leaf address2 {
      description
        "YANG input uses single quotes. YANG output uses double quotes for
         both lines.";
      type leafref {
        path "../../interface[name=current()/../ifname]"
           + "/address/ip";
      }
    }


```

INPUT
```
module quote-bug {

  namespace "urn:quote-bug";
  prefix quote-bug;

  // modified from RFC 7950 Section 9.9.6

  list interface {
    key "name";
    leaf name {
      type string;
    }
    leaf admin-status {
      type string;
    }
    list address {
      key "ip";
      leaf ip {
        type string;
      }
    }
  }

  container default-address {
    leaf ifname {
      type leafref {
        path "../../interface/name";
      }
    }
    leaf address1 {
      description
        "YANG input uses single quotes. YANG output retains single quotes
         for line 1 and uses double quotes for line 2.";
      type leafref {
        path '../../interface[name = current()/../ifname]'
           + '/address/ip';
      }
    }
    leaf address2 {
      description
        "YANG input uses single quotes. YANG output uses double quotes for
         both lines.";
      type leafref {
        path '../../interface[name=current()/../ifname]'
           + '/address/ip';
      }
    }
  }
}
```

Thanks. The fix looks good to me.

Okay