Default values for Integer types aren't allowed to be Hex or Octal

Given a yang model
```
module test {
   namespace "http://error.com";
   prefix "error";

   leaf hex_default {
       type int32;
       default 0x8100;
   }
   leaf octal_default { 
       type int32;
       default 071;
   }
}
```
When I run pyang on it, I see the following: 

test.yang:7: error: the value "0x8100" does not match its base type - not an integer
test.yang:11: error: the value "071" does not match its base type - not an integer

In RFC 6020, section 9.2.1 (https://tools.ietf.org/html/rfc6020#section-9.2.1)
```
For convenience, when specifying a default value for an integer in a
   YANG module, an alternative lexical representation can be used, which
   represents the value in a hexadecimal or octal notation.  The
   hexadecimal notation consists of an optional sign ("+" or "-"), the
   characters "0x" followed a number of hexadecimal digits, where
   letters may be uppercase or lowercase.  The octal notation consists
   of an optional sign ("+" or "-"), the character "0" followed a number
   of octal digits.
```


This is a duplicate of #329, which is already fixed.