Honor ABNF grammar for deviate delete substatements

As mentioned in:
https://www.rfc-editor.org/errata/eid5663
https://mailarchive.ietf.org/arch/msg/netmod/uR-LCpD1BLA_9cXPZJrqX3IoPOc

The current table in RFC7950, Section 7.20.3.2 lists all permitted substatements however each argument to "delete" is treated separately per ABNF.

pyang is currently not honoring the ABNF grammar and allows for (at least) the mandatory substatement to `deviate delete`

```
$ pyang -v
pyang 1.7.8
```

```
$ cat main.yang 
module main {
  yang-version 1.1;
  namespace "http://main";
  prefix main;

  container bgp {
    container global {
      container config {
        leaf as {
          type string;
          mandatory true;
        }
      }
    }
  }
}
```
```
$ cat main-dev.yang 
module main-dev {
  yang-version 1.1;
  namespace "http://main/dev";
  prefix main-dev;

  import main {
    prefix m;
  }

  deviation "/m:bgp/m:global/m:config/m:as" {
    deviate delete {
      mandatory true;
    }
  }
}
```
```
$ pyang main.yang --deviation-module main-dev.yang -f yin
<?xml version="1.0" encoding="UTF-8"?>
<module name="main"
        xmlns="urn:ietf:params:xml:ns:yang:yin:1"
        xmlns:main="http://main">
  <yang-version value="1.1"/>
  <namespace uri="http://main"/>
  <prefix value="main"/>
  <container name="bgp">
    <container name="global">
      <container name="config">
        <leaf name="as">
          <type name="string"/>
        </leaf>
      </container>
    </container>
  </container>
</module>
```

Exactly, you are right. `mandatory statement` should not be existed in deviate delete. 
Because these statements can be done using `deviate replace` for more precise semantic.