leaf-list - Min-Elements issue 

Reported Issue: 
RNG file does NOT contain min-elements tag when the value is 1.
RNG file contains min-elements tag when the value is > 1.

Step1 - mod1.yang

module mod1 {
  namespace "urn:mod1";
  prefix m1;

  leaf-list le1 {
    type string;
    min-elements 1;
    max-elements 4; 
  }
}

Step2 -  run the command 

pyang -f dsdl --dsdl-no-documentation --dsdl-lax-yang-version mod1.yang -o mod1.rng

Step3 -  mod1.rng output 

" <?xml version="1.0" encoding="UTF-8"?><grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns:nma="urn:ietf:params:xml:ns:netmod:dsdl-annotations:1" xmlns:dc="http://purl.org/dc/terms" xmlns:m1="urn:mod1"><dc:date>2024-03-19</dc:date><start><grammar ns="urn:mod1" nma:module="mod1"><dc:source>YANG module 'mod1'</dc:source><start><nma:data><oneOrMore><element name="m1:le1" nma:leaf-list="true" nma:max-elements="4"><data type="string"/></element></oneOrMore></nma:data><nma:rpcs/><nma:notifications/></start></grammar><grammar ns="urn:mod1" nma:module="mod1"><dc:source>YANG module 'mod1'</dc:source><start><nma:data><oneOrMore><element name="m1:le1" nma:leaf-list="true" nma:max-elements="4"><data type="string"/></element></oneOrMore></nma:data><nma:rpcs/><nma:notifications/></start></grammar></start></grammar> "

Step 4 - Issue 

   min-elements ="1"  Not available for .rng file.
    

This is by design.  Please see section 10.28 in RFC 6110.
