Incorrect "circular dependency for type" error when not in canonical order

If the sub-statements of a type are not in canonical order, as well as generating "not in canonical order" errors pyang generates "circular dependency for type" errors which don't make sense. For example, the following Yang:
typedef threshold-event-enum {
    description
      "Enumeration of the valid threshold event types";
    reference  
      "[802.3] 57.5.3";
    type enumeration {
    ...

Produces the following errors:
experimental/ieee/802.3/ethernet-link-oam.yang:80: error: circular dependency for type "threshold-event-enum"
experimental/ieee/802.3/ethernet-link-oam.yang:82: error: keyword "description" not in canonical order, expected "type", (See RFC 6020, Section 12)


I cannot reproduce this bug.  Have you tested with the latest checked in version?  If you still get this error, please attach a module that can be used to reproduce this bug.

Hi Martin,

Yes I can still hit this with the example above using the latest code on the master branch. Have attached the module with the non-canonical ordering which should trigger this.

Cheers,

Richard
[ethernet-link-oam.zip](https://github.com/mbj4668/pyang/files/169129/ethernet-link-oam.zip)



This is still an issue. Here is a simple example:

```
module circular-bug {

    yang-version 1;

    namespace "http://bug.com/circular-bug";

    prefix cbug;

    organization "foo";

    contact      "foo";

    description  "Demonstrate circular bug."; 

    revision 2017-03-31 {
        description "Initial revision";
        reference "none";
    }

    typedef circular-type {
        description "Generates a circular dependency warning!";
        type enumeration {
            enum item {
                description "blah";
            }
        }
    }

    typedef non-circular-type {
        type enumeration {
            enum item {
                description "blah";
            }
        }
        description "Doesn't generate a circular dependency warning!";
    }

    leaf circular {
        type circular-type;
        description "blah";
    }

    leaf non-circular {
        type non-circular-type;
        description "blah";
    }
}
```

Current release of pyang generates this output with this module:

```
09:05 $ pyang --lint circular-bug.yang
circular-bug.yang:20: error: circular dependency for type "circular-type"
circular-bug.yang:21: error: keyword "description" not in canonical order,expected "type", (See RFC 6020, Section 12)
circular-bug.yang:22: error: keyword "type" not in canonical order, (See RFC 6020, Section 12)
09:06 $ pyang --version
pyang 1.7.1
```